<div class="auth_div">
	<h1>Авторизация</h1>
	<div class="form">
		<%= form_with scope: :sessions, url: sessions_path, data: { turbo: false } do |form| %>
			<%= form.label :nickname, 'Ваш никнейм' %>
			<%= form.text_field :nickname %>

			<%= form.label :password, 'Ваш пароль' %>
			<%= form.password_field :password %>

			<%= form.submit 'Войти' %>
		<% end %>
	</div>
</div>