<table border="1">
  <tr>
    <th><%= t 'value' %></th>
	<th></th>
    <th><%= t 'author' %></th>
  </tr>

  <% @values.each do |vl| %>
  <% vl_user = vl.User %>
    <tr>
		<td> <%= vl[:val] %> </td>
		<td>
			<% if current_user == vl_user %>
				<small class="text-danger"><%= button_to "[x]", value_path, method: :delete, params: {id: vl[:id]}, class: "btn btn-link btn-sm nav-link", form: { data: { turbo_confirm: t("ausure") } } %></small>
			<% end %>
		</td>
		<td><%= vl_user.nickname %></td>
	</tr>
  <% end %>
</table>