<div class="form">
	<% if current_user.present? %>

		<%= form_with scope: :values, url: values_path do |form| %>
			<%= form.label :val, t("entval") %><br>
			<%= form.text_area :val, autocomplete: 'off'%><br>
			<%= form.hidden_field :definition, value: definition[:id] %>
			<%= form.submit t("form.add") %>
		<% end %>
	<% end %>
</div>