<div class="def_div">
	<% if current_user.present? %>
		<div class="form">
			<%= form_with scope: :definitions, url: definitions_path do |form| %>
				<%= form.label :def, 'Введите определение' %>
				<%= form.text_field :def, autocomplete: 'off'%>
				<%= form.submit 'Добавить' %>
			<% end %>
		</div>
	<% end %>

	<div id='result-container'><%= render 'create_message' %></div>
</div>
