<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header>
		<div class = 'container header'>
			<a href="/"><h1><%= t 'dictionary' %></h1></a>
			<div class="header_div">
				<div class="header_buttons">
					<a href="?locale=en"><button>EN</button></a>
					<a href="?locale=ru"><button>RU</button></a>
				</div>
				<div>
					<% if current_user.present? %>
						<%= t 'auth_regist.log' %> <strong><%= current_user.nickname %></strong> 
						<%= link_to t("auth_regist.exit"), '/sessions/destroy', method: :delete, id: "exit_link" %>
					<% else %>
						<%= link_to t("auth_regist.login"), new_session_path %> 
						<%= link_to t("auth_regist.regist"), new_user_path %>
					<% end %>
				</div>
			</div>
	  </div>
    </header>
    <main class="container">
		<div class="message_alert">
		<% if flash[:alert].present? %>
			<strong><%= flash[:alert] %></strong>
		<% end %>
		</div>
		<div class="yield_cont">
		<%= yield %>
		</div>
		<dialog id="turbo-confirm">
			<form method="dialog">
				<p><%= t 'confirmation' %></p>
				<div>
					<button value="confirm"><%= t 'confirm' %></button>
					<button value="cancel"><%= t 'cancel' %></button>
				</div>
			</form>
		</dialog>
    </main>
    <footer>
		<div class="container footer">
			<p><%= t 'footer.ref' %></p>
			<div>
				<a href="https://vk.com/id558236008"><%= t 'footer.vk' %></a>
				<a href="https://www.youtube.com/channel/UCh01XjOrFcKgrPtEL7qS8tA"><%= t 'footer.yt' %></a>
				<a href="https://vk.com/id558236008"><%= t 'footer.tg' %></a>
			</div>
		</>
	</footer>
  </body>
</html>
