<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header>
		<div class = 'container header'>
			<a href="/"><h1>Словарь</h1></a>
			<div>
				<% if current_user.present? %>
					Вы зашли как <strong><%= current_user.nickname %></strong> 
					<%= link_to "Выйти", '/sessions/destroy', method: :delete, id: "exit_link" %>
				<% else %>
					<%= link_to "Войти", new_session_path %> 
					<%= link_to "Зарегистрироваться", new_user_path %>
				<% end %>
			</div>
	  </div>
    </header>
    <main class="container">
		<div class="message_alert">
		<% if flash[:alert].present? %>
			<strong><%= flash[:alert] %></strong>
		<% end %>
		</div>
		<div class="yield_cont">
		<%= yield %>
		</div>
		<dialog id="turbo-confirm">
			<form method="dialog">
				<p>Вы уверены, что хотите удалить?</p>
				<div>
					<button value="confirm">Подтвердить</button>
					<button value="cancel">Отмена</button>
				</div>
			</form>
		</dialog>
    </main>
    <footer>
		<div class="container footer">
			<p>Ссылки на автора</p>
			<div>
				<a href="https://vk.com/id558236008">ВК</a>
				<a href="https://vk.com/id558236008">Ютуб</a>
				<a href="https://vk.com/id558236008">Телега</a>
			</div>
		</>
	</footer>
  </body>
</html>
